* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  position: fixed; /* Fijar el navbar en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content:right;
  gap: 20px; 
  margin-bottom: 20px; /* Espacio debajo del NavBar */
  background-color: rgba(129, 202, 161, 1); /* Azul */
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  }
  
  .nav-link {
    text-decoration: none;
    color: rgba(94, 70, 41, 1); /* Color del texto */
    font-weight: 500;
    padding: 5px 10px; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
  }
  
  .nav-link:hover {
    background-color: #e9ecef; 
  }
  
  .nav-link.active {
    font-weight: bold;
    color: rgba(94, 70, 41, 1) /* Color del texto activo */
  }